/* Đặt font chữ chung và nền cho trang */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('image/2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Container của form */
.form-container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    /* Căn giữa form */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Tiêu đề của form */
.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Cách bố trí của mỗi nhóm form */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Ô nhập liệu và danh sách chọn */
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    background-color: #fff;
}

/* Nút Đăng Ký */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Logo LazyMoive */
.logo-lazymoive {
    text-align: center;
    margin-top: 3px;
    border: 3px solid #fff;
   
}

.logo-lazymoive img {
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.logo-lazymoive h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 28px;
    margin-top: 10px;
}

/* Responsive cho thiết bị di động */
@media (max-width: 480px) {
    .form-container {
        width: 90%;
    }
}